In [34]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split,KFold,GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_absolute_percentage_error

from xgboost import XGBRFRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor,RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [2]:
df = pd.read_csv('../data/housing_price.csv')
df.head()

      price  area  bedrooms  bathrooms  ...  airconditioning parking prefarea furnishingstatus
0  13300000  7420         4          2  ...              yes       2      yes        furnished
1  12250000  8960         4          4  ...              yes       3       no        furnished
2  12250000  9960         3          2  ...               no       2      yes   semi-furnished
3  12215000  7500         4          2  ...              yes       3      yes        furnished
4  11410000  7420         4          1  ...              yes       2       no        furnished

[5 rows x 13 columns]

In [5]:
X = df.drop(columns='price')
y = df.price

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
num_cols = Pipeline([
    ('scl',StandardScaler())
])

cat_cols = Pipeline([
    ('enc',OneHotEncoder())
])

prep = ColumnTransformer([
    ('num',num_cols,['area','bedrooms','stories','parking']),
    ('cat',cat_cols,['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus'])
])

In [8]:
models = [XGBRFRegressor(),LinearRegression(),AdaBoostRegressor(),GradientBoostingRegressor(),RandomForestRegressor(),
          SVR(), KNeighborsRegressor()]

In [36]:
MAE = []
MSE =[]
MAPE = []
MODEL_NAME = []

for model in models:
    pipeline = Pipeline([
        ('prep',prep),
        ('model',model)
    ])
    pipeline.fit(X_train,y_train)
    y_pred = pipeline.predict(X_test)
    mae = mean_absolute_error(y_test,y_pred)
    mse = mean_squared_error(y_test,y_pred)
    mape = mean_absolute_percentage_error(y_test,y_pred)
    MAE.append(mae)
    MODEL_NAME.append(model.__class__.__name__)
    MSE.append(mse)
    MAPE.append(mape)

pd.DataFrame({
    'Model Name': MODEL_NAME,
    'MAE': MAE,
    'MSE':MSE,
    'MAPE':MAPE,
})

                  Model Name           MAE           MSE      MAPE
0             XGBRFRegressor  1.106221e+06  2.319859e+12  0.237069
1           LinearRegression  9.674606e+05  1.884282e+12  0.205813
2          AdaBoostRegressor  1.245253e+06  2.602387e+12  0.284192
3  GradientBoostingRegressor  9.801542e+05  1.970014e+12  0.208505
4      RandomForestRegressor  1.025096e+06  2.146519e+12  0.217444
5                        SVR  1.763888e+06  5.567935e+12  0.367129
6        KNeighborsRegressor  1.050246e+06  2.501423e+12  0.215623

Berdasarkan hasil seleksi model di atas saya memilih LinearRegression dan GradientBoosting karena menghasilkan error yang lebih kecl dari yang lain. Dengan metric penilaian MSE (mean squared error)